div.container {
  background-color: #F4F4FB;
  height: 100%;

  div.logo {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 170px;
    }
  }

  section.filter_container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    button.submit {
      margin-top: 20px;
      padding: 5px;
      border: none;
      background-color: #5E69EE;
      color: #ffffff;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 700;
    }

    input.search {
      width: 186px;
      height: 35px;
      border-radius: 10px;
      border: none;
      padding-left: 20px;
      margin-bottom: 30px;
      transition: 0.3s ease-in-out;
    }

    div.filter {
      height: 35px;
      width: 186px;
      background-color: #e9eafc;
      justify-content: left;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 30px;

      div.filter_objects {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;

        img {
          width: 20px;
          height: 20px;
          margin: 6px 15px 0px 20px;
        }

        h3 {
          font-size: 16px;
          font-weight: 500;
          color: #1a26b3;
          padding: 3px 0px 0px 0px;
        }
      }
    }
  }
}