div.Mapstyle {
  width: 100%;
  z-index: 5;
  Marker.marker {
    div.popup {
      position: absolute;
      top: -60;
      left: -52;
      width: 130;
      height: 50;
      background-color: white;
    }
  }
}
