div.tweetsContainer {
  position: relative;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  position: relative;

  div.titleContainer {
    position: relative;
    width: 100%;
    // background-color: #5E69EE;
    background-color: #39AFEA;
    // border-radius: 15px 15px 0 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;

    h2 {
      font-size: 18px;
      color: #ffffff;
      padding-left: 40px;
    }
  }

  #secondTitle {
    font-size: 18px;
    // color: #5E69EE;
    color: #39AFEA;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  div.tweetContainer {
    display: grid;
    grid-template-columns: 45% 45%;
    height: 100%;
    column-gap: 20px;
    row-gap: 40px;
    padding: 70px;
    padding-top: 0;
    justify-content: center;
    // border: 1px solid #39AFEA;

    div.tweet {
      background-color: #f8f8fd;
      border-radius: 15px;
      display: grid;
      width: 100%;
      min-height: 210px;
      grid-template-rows: 30% 50% 20%;

      div.likes {
        p {
          color: #000000;
          font-size: 12px;
          font-weight: 500;

          i {
            margin-left: 5px;
            font-size: 12px;
          }
        }

      }

      div.profileContainer {
        padding: 10px;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        border-bottom: 1px solid #c2c2c2ad;

        img {
          padding-right: 7px;
          height: 30px;
        }

        h3 {
          font-size: 16px;
          color: #000000;
          font-weight: 700;
        }
      }

      div.content {
        height: auto;
        color: #000000;
        position: relative;

        div.text {
          height: auto;
          display: flex;
          flex-direction: column;

          p {
            font-size: 13px;
            padding: 5px;
            justify-content: flex-start;
          }
        }

        div.details {
          font-size: 12px;
          padding-left: 5px;
          position: absolute;
          bottom: 0;
        }
      }

      div.likes {
        border-top: 1px solid #ffffff;
        display: flex;
        align-items: center;

        p {
          padding-left: 12px;
        }
      }
    }

    div.pagesCount {
      background-color: #5E69EE;
      width: 30px;
      height: 30px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}